
.altitude-navbar {
  background-color: #012433;
  min-height: 80px;
  border-bottom: 3px solid #ECB066;
}

.container-fluid>.navbar-header {
    margin-left: 50px;
    margin-top: 25px;
}

.navbar-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #fff;

}

.header-color {
color:#EA8A24; 
margin-left: 20px;
}

.breadcrumb {
	position: relative;
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}

.breadcrumb a {
    text-decoration: none;
}

/* Post */
.posts-container {
    margin-top: 5%;
}

.post {
    width: 60%;
    padding: 10px 20px 0px 20px;
    margin-left: 20%;
}

.author-post {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
}

.author-post-time {
    color: #A1A2A2;
	margin-left: 5px;
}

.author-name {
	font-family: Roboto;
	font-size: 16px;
	display: inline;
}

footer{
    margin-top: 15px;

}

footer .funny {
    color: #044F7D;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
	
	display: inline;
}

footer .boring {
    color: #EA8A24;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;

	display: inline;
}

footer .comments  {
    color: #616767;
    text-transform: uppercase;
    text-decoration: none;

    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;

    display: inline-block;
    padding: 0px 40px 0px 40px;
    float: right;
}

hr {
    height: 1px;
    background-color: #EBEBEB;
    border: none;
}


/* Floating-Button-New-Post */
.new-post {
    position: fixed;
    bottom: 5%;
    right: 5%;
	height: 55px;
    width: 55px;
    background-color: #317cbc;
    border-radius: 50%;
    cursor: pointer;
}

.new-post img {
	height: 38px;
    width: 38px;
	position: absolute;
	left: 9px;
	top: 9px;
}

.post-category {
	width: 250px;
}

/* post-coments */


.container-comments{
    min-height: 800px;
    margin-left: 21%;
    margin-right: 21%;
    background-color: rgba( 242,242,243, 0.4);
    padding: 20px 50px 0px 50px;

}

.post-comment{

    min-height: 250px;
    padding: 40px;

}

.post-comment input{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 250px;

}


.post-comment label{
    color: #0B2532;
     font-family: Roboto;
    font-size: 18px;
    font-weight:bold;

}

.altitude-DialogButton {

  font-family: Roboto;
  font-size: 14px;
  font-weight:bold;
  float: right;
  color: #317DBA; 
  text-align: center;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-right: 40px;
  text-decoration: none;
}


a:hover{
    cursor: pointer;
    color: rgba(49,125,186,0.8);
    text-decoration: none;
}


/* Modal-new-post */

.altitude-DialogContainer{
  width: 600px;
  height: 400px;
  box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



.altitude-DialogContentBody  {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;


    border-bottom: 2px solid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.altitude-DialogContentBody h4 {
	padding-top: 30px;
}

.altitude-DialogActionBar {
  text-align: right;
}






